@font-face {
	font-family: "Roboto";
	src: url(./assets/fonts/Roboto-Regular.ttf);
}

@font-face {
	font-family: "Acme";
	src: url(./assets/fonts/Acme-Regular.ttf);
}

:root {
	--color-black: black;
	--color-black-5: rgba(0, 0, 0, 0.5);
	--color-gray: gray;
	--color-lightgray: lightgray;
	--color-whitesmoke: whitesmoke;
	--color-white: white;
	--color-orange: orange;
	--color-red: red;
	--color-blue: blue;
	--color-dodgerblue: dodgerblue;
	--color-transparent-skyblue: rgba(0, 190, 250, 0.35);

	/* Toastify library customization */
	--toastify-toast-width: 30vw;
	--toastify-toast-min-height: 5rem;
	--toastify-font-family: "Roboto", sans-serif;
	--toastify-text-color-light: var(--color-black);
	--toastify-text-color-dark: var(--color-whitesmoke);
}

.Toastify__toast-body {
	white-space: pre-line; /* This attribute makes toasts having newlines(\n) or tabs(\t) or multi-spaces */
}

.container {
	position: relative;
	margin: 2rem auto;
	padding: 1rem;
	width: 25rem;
	height: 38rem;
	border-radius: 0.5rem;
	outline: none;
	backdrop-filter: blur(1.5rem);
	background-color: rgba(250, 250, 250, 0.5);
	box-shadow: 0 0 1rem 0 var(--color-whitesmoke);
	cursor: default;
}

.form-title {
	padding-bottom: 2rem;
	letter-spacing: 0.125rem;
	font-family: "Acme", cursive;
	font-size: 2.5rem;
	background: linear-gradient(to right top, #00dbde, #fb00ff);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.form-wrapper section, .modal-box section {
	width: 90%;
}

.form-wrapper input, .modal-box input {
	padding: 0.5rem 2.2rem;
	width: 100%;
	height: 2rem;
	border: none;
	border-bottom: 3px solid var(--color-dodgerblue);
	border-radius: 0.5rem 0.5rem 0 0;
	outline: none;
	font-size: 1.2rem;
	font-family: 'Roboto';
	cursor: text;
}

.form-wrapper section small, .modal-box section small {
	display: inline-block;
	padding: 0 0.5rem;
	width: 100%;
	text-align: start;
	font-family: 'Roboto';
	color: var(--color-red);
}

.form {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	height: 100%;
	gap: 1.5rem;
}

.submit-btn {
	padding: 0.5rem 1rem;
	border: none;
	border-radius: 2rem;
	outline: none;
	font-size: 1rem;
	font-family: 'Roboto';
	color: var(--color-black);
	background-color: var(--color-transparent-skyblue);
	box-shadow: 0 0 0.5rem 0.125rem var(--color-dodgerblue) inset;
	transition: 0.5s;
	cursor: pointer;
}
.submit-btn:hover {
	filter: brightness(1.1);
	letter-spacing: 0.125rem;
	color: var(--color-whitesmoke);
	box-shadow: 0 0 1rem 1rem var(--color-dodgerblue) inset;
}

.social-login a {
	display: block;
	margin: 0 auto;
  margin-bottom: 1rem;
	padding: 0.5rem 2rem;
	width: 80%;
  text-align: center;
  text-decoration: none;
	border-radius: 0.25rem;
  color: var(--color-white);
	transition: 0.2s;
	cursor: pointer;
}
.social-login a:hover {
	filter: brightness(85%);
}

.form-terms {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
}

.form-options {
	position: absolute;
	bottom: 1rem;
	left: 50%;
	transform: translateX(-50%);
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
}

.form-options span {
	color: var(--color-gray);
	transition: 0.2s;
	cursor: pointer;
}
.form-options span:hover {
	color: var(--color-blue);
}

.content {
	position: relative;
	display: flex;
	width: 100%;
	height: 2rem;
	overflow: hidden;
}

.icon-container {
	position: absolute;
	width: 2rem;
	height: 2rem;
	font-size: 1rem;
	line-height: 2rem;
	border: none;
	border-bottom: 2px solid var(--color-dodgerblue);
	border-radius: 0.5rem 0 0 0;
	outline: none;
	color: var(--color-whitesmoke);
	background-color: var(--color-dodgerblue);
}

.show-hide {
	position: absolute;
	top: 50%;
	right: 0.5rem;
	transform: translateY(-50%);
}

.show-hide i {
	padding: 0.5rem 0;
	font-size: 1rem;
	color: var(--color-gray);
	transform: translateX(150%);
	transition: transform 0.5s ease-in-out;
	cursor: pointer;
}
.show-hide i.hide::before {
	content: "\f070"; /* code for eye icon */
	margin: -1px; /* fix position */
}

.checkbox-section {
	display: flex;
	align-items: center;
	gap: 0.5rem;
}

.checkbox-section input {
	width: 1rem;
	height: 1rem;
	outline: none;
	cursor: pointer;
}

.modal-backdrop {
	position: fixed;
	top: 0; right: 0; bottom: 0; left: 0;
  background: var(--color-black-5);
}

.modal-box {
	position: absolute;
	top: 20%;
	left: 50%;
	transform: translateX(-50%);
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 1rem 2rem;
	width: 25rem;
	border-radius: 0.25rem;
	border: 1px dashed var(--color-black);
	background-color: var(--color-whitesmoke);
}

.modal-btn {
	position: absolute;
	top: -0.125rem;
	right: -0.125rem;
	width: 1.5rem;
	height: 1.5rem;
	border: none;
	color: red;
	background-color: transparent;
	cursor: pointer;
}

.modal-title {
	padding-bottom: 0.5rem;
	letter-spacing: 0.125rem;
	font-family: "Acme", cursive;
	color: var(--color-gray);
}

.modal-body {
	margin-top: 1rem;
}
